/* Reset and base styles  */
@import url(https://fonts.googleapis.com/css?family=Manrope:300,regular,700,800);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #000;
}

a,
a:link,
a:visited {
  color: #0f7dff;
  text-decoration: underline;
}

a:focus,
button:focus {
  outline-offset: 1px;
  outline: #005fcc auto 1px;
}

p + p {
  margin-top: 1em;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 1220px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 788px) {
  .container {
    width: 360px;
  }
}
.container--large {
  max-width: 1510px;
  width: 100%;
}
@media (max-width: 1220px) {
  .container--large {
    width: 100%;
  }
}
@media (max-width: 1220px) {
  .container--tablet-fluid {
    width: auto;
  }
}
@media (max-width: 788px) {
  .container--mobile-fluid {
    width: auto;
  }
}

html,
body {
  min-height: 100vh;
}

.sticky-footer {
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.header {
  padding: 40px 0;
}
@media (max-width: 788px) {
  .header {
    padding: 20px 0;
  }
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.header__logo {
  flex-shrink: 0;
}

@media (max-width: 788px) {
  .header__nav {
    display: none;
  }
}

.header__nav-btn {
  display: none;
}
@media (max-width: 788px) {
  .header__nav-btn {
    display: block;
  }
}

.nav {
  font-size: 14px;
}

.nav__list {
  display: flex;
  column-gap: 40px;
  align-items: center;
}
@media (max-width: 1220px) {
  .nav__list {
    column-gap: 20px;
  }
}

.nav__link {
  color: #000;
  transition: color 0.2s ease-in;
}
.nav__link:hover {
  color: #00ae6c;
}

.footer {
  padding: 60px 0;
  background-color: #000;
  color: #fff;
}
@media (max-width: 788px) {
  .footer {
    padding: 40px 0;
  }
}
.footer a {
  color: #fff;
}

.footer__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.mobile-nav {
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in;
}
.mobile-nav--open {
  opacity: 1;
  pointer-events: all;
}

.mobile-nav__header {
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav__btn {
  position: absolute;
  z-index: 99;
  top: 20px;
  right: 20px;
}

.mobile-nav__body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, 10%);
  transition: all 0.2s ease-in;
}

.mobile-nav--open .mobile-nav__body {
  transform: translate(0, 0%);
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
  font-size: 14px;
  color: #000;
}
.mobile-nav-list a {
  color: #000;
}

.none {
  display: none !important;
}

@media (max-width: 1220px) {
  .visible-desktop {
    display: none;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.no-scroll {
  overflow-y: hidden;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mb-4 {
  margin-bottom: 4em;
}

.mb-5 {
  margin-bottom: 5em;
}

.logo,
a.logo,
a.logo:link {
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
}
.logo a,
a.logo a,
a.logo:link a {
  text-decoration: none;
}

.btn,
a.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 80px;
  background-color: #000000;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in;
}
.btn:hover,
a.btn:hover {
  background-color: #333;
}
.btn--wide,
a.btn--wide {
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 32px;
}

.title-1 {
  font-weight: 700;
  font-size: 32px;
}

.title-2 {
  font-weight: 700;
  font-size: 26px;
}

.title-3 {
  font-weight: 600;
  font-size: 20px;
}

.input {
  padding: 10px 20px;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  color: #000;
  transition: all 0.2s ease-in;
}
.input:active, .input:focus {
  border: 1px solid #3c82d3;
}

/* Custom Checkboxes */
.fake-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  border-radius: 4px;
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.fake-checkbox::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in;
  width: 16px;
  height: 13px;
  background-image: url("./../img/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.real-checkbox:checked + .fake-checkbox {
  background-color: #000;
  border: 1px solid #000;
}

.real-checkbox:checked + .fake-checkbox::after {
  transform: translate(-50%, -50%) scale(1);
}

.top-link {
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #000;
  border-radius: 24px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in;
}
.top-link--visible {
  opacity: 1;
  pointer-events: all;
}
@media (max-width: 788px) {
  .top-link {
    right: 10px;
    bottom: 10px;
  }
}

.modal {
  display: none;
  position: relative;
  padding: 40px;
  width: 420px;
  background: #fff;
  border-radius: 20px;
  color: #2f2f2f;
}
@media (max-width: 788px) {
  .modal {
    padding: 20px;
    width: 360px;
  }
}

.modal--open .modal__body {
  transform: translate(0, 0%);
}

.modal__header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: center;
  font-size: 14px;
}

.modal__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 120%;
  color: #000;
}
@media (max-width: 788px) {
  .modal__title {
    font-size: 28px;
  }
}

.modal__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.modal__checkbox-label {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

.tinySlider img {
  border-radius: 8px;
  object-fit: cover;
  max-width: unset !important;
  height: unset !important;
  height: 400px !important;
}
@media (max-width: 788px) {
  .tinySlider img {
    height: 250px !important;
  }
}

/* Navigation dots */
.tns-nav {
  text-align: center;
  margin: 10px 0;
}

.tns-nav > [aria-controls] {
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: #ddd;
  border: 0;
}

.tns-nav > .tns-nav-active {
  background: #999;
}

/* Control buttons */
.tns-controls {
  text-align: center;
  margin-bottom: 10px;
}

.tns-controls [aria-controls] {
  font-size: 15px;
  margin: 0 5px;
  padding: 0 1em;
  height: 2.5em;
  color: #000;
  background: #66ccff;
  border-radius: 3px;
  border: 0;
}

.lt-ie9 .tns-controls > [aria-controls] {
  line-height: 2.5em;
}

[data-action] {
  display: block;
  margin: 10px auto;
  font-size: 17px;
  min-width: 3em;
  text-align: center;
  background: transparent;
  border: 0;
}

.tns-controls [disabled] {
  color: #999999;
  background: #b3b3b3;
  cursor: not-allowed !important;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.accordion__item.active .accordion__btn {
  background-color: #d3f4e0;
}

.accordion__btn {
  width: 100%;
  text-align: left;
  padding: 20px;
  background-color: #e7e7e7;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  /* Focus reset */
  /* Focus only */
}
.accordion__btn:focus {
  outline: none;
}
.accordion__btn:focus-visible {
  outline-offset: 1px;
  outline: #005fcc auto 1px;
}

.accordion__content {
  /* Important for Accordion */
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in;
}

.accordion__body {
  padding: 20px;
}

.fancy-box-gallery img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}/*# sourceMappingURL=main.css.map */