.footer {
  padding: 60px 0;
  background-color: #000;
  color: #fff;

  @include mobile {
    padding: 40px 0;
  }

  a {
    color: #fff;
  }
}

.footer__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
