.header {
  padding: 40px 0;

  @include mobile {
    padding: 20px 0;
  }
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.header__logo {
  flex-shrink: 0;
}

.header__nav {
  @include mobile {
    display: none;
  }
}

.header__nav-btn {
  display: none;

  @include mobile {
    display: block;
  }
}
