.modal {
  display: none;

  position: relative;
  padding: 40px;
  width: 420px;

  background: #fff;
  border-radius: 20px;

  color: #2f2f2f;

  @include mobile {
    padding: 20px;
    width: 360px;
  }
}

.modal--open .modal__body {
  transform: translate(0, 0%);
}

.modal__header {
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  row-gap: 10px;

  text-align: center;
  font-size: 14px;
}

.modal__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 120%;
  color: #000;

  @include mobile {
    font-size: 28px;
  }
}

.modal__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.modal__checkbox-label {
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}
