.title {
  font-weight: 700;
  font-size: 32px;
}

.title-1 {
  font-weight: 700;
  font-size: 32px;
}

.title-2 {
  font-weight: 700;
  font-size: 26px;
}

.title-3 {
  font-weight: 600;
  font-size: 20px;
}
